@use '@carbon/react' as *;
@use '@carbon/colors' as *;

.container {
  max-width: 900px;
  margin: $spacing-08 auto;
  padding: $spacing-06;
  background: $background;
  border-radius: $spacing-04;
}

.textInput1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-04;
}

.textInput {
  flex: 1;
  input {
    width: 100%;
    padding: $spacing-04;
    border: $spacing-01 solid #ddd;
    border-radius: $spacing-03;
    transition: 0.3s;
    
  }
}

.btn1 {
  padding:  $spacing-04 $spacing-03;
  background: $interactive;
  color: $background;
  font-weight: 700;
  border-radius: $spacing-03;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  
  &:hover {
    background: $interactive;
  }
}

.custom-dropdown {
  margin-top: $spacing-05;
  select {
    width: 100%;
    padding: $spacing-04;
    border-radius: $spacing-03;
    border: $spacing-01 solid #ddd;
    transition: 0.3s;
    
    &:focus {
      border-color: $interactive;
    }
  }
}

.table-container {
  margin-top: $spacing-06;
}

.carbon-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: $spacing-03;
  
  thead {
    background: $interactive;
    color: $background;
  }
  
  th, td {
    padding: $spacing-04;
    text-align: left;
    border-bottom: 0.0625rem solid #ddd;
  }
  
  tbody tr {
    transition: 0.3s;
  
  }
}
@media (max-width: 768px) {
  .textInput1 {
    flex-direction: column;
    align-items: stretch;
  }

  .btn1 {
    width: 100%;
  }
}
