@use '@carbon/react';
@use '@carbon/colors' as *;
@use '@carbon/layout' as *;
@use '@carbon/type' as *;
@use '@carbon/react/scss/colors';
@use "./app/Browse/browse.scss";
@use "./Dashboard/dashboard.scss";
@use './products/products.scss';
@use "./Login/login.scss";
@use "./Forms/forms.scss";
@use "/app/navbar.scss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
